body{
    background-color: #fbfa75;
}
.menu{
        
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20%;
}

.button {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: Roboto;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 0.75rem 1.65rem;
    text-decoration: none #000000 solid;
    width: 100%;
    max-width: 460px;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    touch-action: manipulation;
    letter-spacing: 0.1em;
}
.button:not(:last-child) {
    margin-bottom: 30px;
}
.button:focus {
    outline: 0;
}

.button:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button:hover:after {
    bottom: 2px;
    left: 2px;
}
