#submit {
    width: 300px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #f1c40f;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
}

#submit:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

#submit:hover:after {
    border-color: #f1c40f;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}

#help-submit, #submit-new {
    width: 100px;
    padding: 10px;
    border: 2px solid #f1c40f;
    border-radius: 50%;
}

#help-submit:hover, #submit-new:hover {
    border-color: azure;
}

#submit-new {
    width: 200px;
    margin-bottom: 15px;
}

.hidden {
    visibility: hidden;
}

.help-color {
        button {
        background-color: #f13c0f;
    }
        button span {
        background-color: #f13c0f;
        color: white !important;
    }    
}