* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #1b2631;
    color: azure;
    span, i, h2 {color:#f1c40f};
    button {cursor: pointer}
}
.d-flex{
    display: flex;
}
.container {
    padding: 30px;
    font: 1em sans-serif;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.info-section, .help {
    justify-content: space-between;
}
.hidden {
    visibility: hidden;
}
// body {
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     font-size:1rem;

//     .section {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         height: 62%;
//         width: 100%;
//         background: #001752bb;

//         .logo {
//             display: flex;
//             justify-content: space-evenly;
//             align-items: center;
//             width: 70%;

//             img {
//                 width: 60%;
//             }
//         }

//         .prize_help {
//             width: 30%;
//             height: 100%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             border-left: 1px solid #ccc;

//             .help {
//                 display: flex;
//                 justify-content: space-around;
//                 align-items: center;
//                 height: 15%;
//                 width: 100%;

//                 p {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     width: 24%;
//                     height: 20px;
                    
//                     border: 1px solid #5258fb;
//                     border-radius: 50%;
//                     color: #fff;
//                     padding: 1px;
//                 }

//                 p:hover {
//                     cursor: pointer;
//                     width: 25%;
//                     height: 22px;
                    
//                     transition: .2s linear;
//                 }

//                 .used,
//                 .used:hover {
//                     text-decoration: line-through;
//                     width: 25%;
//                     height: 22px;
                    
//                 }
//             }

//             .prize {
//                 height: 85%;
//                 width: 100%;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: space-between;
//                 align-items: center;

//                 p {
//                     color: #d59534;
//                     font-weight: 700;
                    
//                     width: 50%;
//                     border-radius: 1px;
//                     display: flex;
//                     justify-content: space-between;
//                 }

//                 .unlost {
//                     color: #fff;
//                 }

//                 .win {
//                     background: #e7ac3f;
//                     color: #000;
//                 }
//             }
//         }
//     }

//     .questions {
//         width: 100%;
//         height: 38%;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-around;
//         align-items: center;
//         background: #001752bb;

//         .question {
//             width: 100%;
//             height: 30%;
//             display: flex;
//             align-items: center;
//             justify-content: center;

//             span {
//                 height: 100%;
//                 width: 70%;
//                 border: 1px solid #5258fb;
//                 border-radius: 2rem;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 color: #fff;
//                 text-transform: capitalize;
                
//             }
//         }

//         .answer {
//             width: 70%;
//             height: 60%;
//             display: flex;
//             justify-content: space-between;
//             flex-wrap: wrap;

//             span {
//                 width: 35%;
//                 height: 20px;
//                 border: 1px solid #5258fb;
//                 border-radius: 2rem;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 color: #fff;
                
//             }

//             span:hover {
//                 background: #5258fb;
//                 cursor: pointer;
//                 transition: .2s linear;
//             }

//             .true,
//             .true:hover {
//                 background: green;
//             }

//             .false,
//             .false:hover {
//                 background: red;
//             }
//         }
//     }
// }