// colors
$bg: #000;
$orange: #ff9501;
$gray: #a6a6a6;
$darkGray: #333;
$white: #fdfdfd;

.calc{
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background: #000;
    color: $white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}
.calc-screen{
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;
}
.calc-screen p {
   text-align: right;
   font-size: 4rem;
   margin: 0; 
}
.buttons{
    display: grid;
    grid-template-areas: 
    "ac plus-minus percent division"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap:7px;
    justify-items: center;
}
.btn{
    width: 60px;
    height: 60px;
    background: $darkGray;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}
.btn.zero{
    grid-area:zero;
    width: 100%;
    border-radius: 34px;
}
.btn:hover{
    filter:brightness(120%)
}
.btn:active{
    filter: brightness(90%);
}
.btn.bg-gray{
    background: $gray;
}
.btn.bg-orange {
    background: $orange;
}

.home {
    display: inline-block;
    text-align: center;
        color: gray;
        font-size: 30px;
    margin: 40px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;

    box-shadow: 0 3px 20px rgba(0, 0, 0, .25),
        inset 0 2px 0 rgba(255, 255, 255, .6),
        0 2px 0 rgba(0, 0, 0, .1),
        inset 0 0 20px rgba(0, 0, 0, .1);
}
.home:hover {
    color: rgba(128, 128, 128, 0.705);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2),
        0 2px 0 rgba(255, 255, 255, .4),
        inset 0 2px 0 rgba(0, 0, 0, .1);
}
.home-icon {
margin-top: 30px;
}